body {
    background-color: rgb(240, 240, 240);
    background-image: url(../assets/SkyrimSky.JPEG);
    background-size: 100%;
    background-repeat: no-repeat;
}

#navBar {
    background-color: rgba(0, 0, 0, 0.25);
    border: solid 3px;
    border-color: #ffffff50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#interestsButton {
    color: #4d4d4d;
    background-color: #eaeaea;
    border-radius: 30px;
    border: solid 3px;
    border-color: #ffffff;
    width: 195px;
    text-align: center;
    margin-right: 15px;
    margin-left: 30px;
}

#accomplishmentsButton {
    color: #4d4d4d;
    background-color: #eaeaea;
    border-radius: 30px;
    border: solid 3px;
    border-color: #ffffff;
    width: 195px;
    text-align: center;
    margin-right: 30px;
    margin-left: 15px;
}

h1 {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border: solid 3px;
    border-color: #ffffff;
    border-radius: 30px;
    width: 721px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 64px;
}

.center {
    display: flex;
    justify-content: center;
}

.pictureSpacing {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

h5 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.noPaddingBottom {
    padding-bottom: 0px;
}

.paddingBottom {
    padding-bottom: 10px;
}

.moreInfo {
    font-weight: bold;
    font-size: 20px;
}

p {
    font-weight: bold;
}

.accordion-body {
    padding-bottom: 0px;
}

.heightMax {
    height: max-content;
}

.accordion-item {
    background-color: #eaeaea;
    border: solid 3px;
    border-color: #ffffff;
}

.accordion-button {
    background-color: #eaeaea;
    border: solid 3px;
    border-color: #ffffff;
}

.card {
    background-color: #eaeaea;
    border: solid 3px;
    border-color: #ffffff;
}